/*key to the kingdom CSS*/
.navbar{
	margin-bottom:20px;
}
#game-wrapper{
	margin:0 auto;
	width: 330px;
	height: auto;
	padding:15px;
	margin-top: -15px;
	border: black;
	/*background: linear-gradient(top, #588063, #000);*/
	background: #000;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	border-radius: 10px;
}
body {
	text-align: center;
	font-family: 'Galdeano', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-image: url(images/parchment.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

